/*IMPORT PARTIALS*/
@import "fonts.scss";
@import "colores.scss";
@import "mixin.scss";
@import "media-queries.scss";
@import "each-sass.scss";
@import "animaciones.scss";
@import "clases-bootstrap.scss";

/*GENERAL*/
body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
/*HERO IMAGE - NAVBAR*/
.hero {
    background: #cccccc url("../assets/header.jpg") no-repeat;
    display: inline-block;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    width: 100%;
    height: 786px;
    color: $texto-claro;
}
li a {
    width: 60px;
    color: $texto-claro;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
.hero-text {
    display: inline-block;
    margin: 100px 0 0 100px;  
    h1 {
        font-weight: 200;
        margin-bottom: 20px;
    }
    p {
        width: 500px;
    }
    hr {
        border-top: 2px solid white;
        width: 250px;
        margin: 0;
    }
}
/*HEADER OTRAS PAGINAS*/
.header-alternativo {
    width: 100%;
    float: left;
}
/*HERO IMAGE OTRAS PAGINAS*/
.hero-blog {
    background-position: bottom;
}
/*SUB-SECCIONES*/
.textoseccion {
    font-size: 1.875rem;
    margin: 0 20%;
}
.publicaciones {
    background-color: #E6E6E6;
}
/*FOOTER STICKY*/
.footer {
    display: inline-block;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    background-color: $fondo-navbar;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    li {
        padding-bottom: 10px;
    }
}
/*GALERIA HOME*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-auto-rows: minmax(200px,auto);
    margin: 0 30px;
    justify-items: center;
    justify-content: center;
    &--publics {
        @extend .grid-container;
        grid-template-columns: repeat(auto-fill, 300px)!important;
    }
}
.grid-item {
    justify-items: center;
    justify-content: center;
    align-items: center;
    img {
        max-width: 100%;
        opacity: 0.5;
    }
    img:hover {
        opacity: 1;
    }
}
/*CITAS*/
.quote {
    margin: 0 25%;
    hr {
        border-top: 2px solid #707070;
        width: 100%;
    }
    p {
        text-align: center;
        font-size: 1.875rem;
        font-style: italic;
        line-height: 45px;
    }
}
/*SOBRE MI*/
.about {
    padding: 0 30px;
}
/*OTRAS PUBLICACIONES*/
.conicet {
    margin: 0 15%;
    margin-bottom: 150px;
    a:link {
        color: black;
    }
}
/*UTILITARIAS*/
.margen-inferior {
    margin-bottom: 100px;
    text-align: center;
}
.margen-superior {
    margin-top: 100px;
}
/*BLOG*/
.blog {
    display: grid;
    padding: 2rem;
    grid-template-columns: 20% 80%;
    gap: 1rem;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    img {
        max-width: 150px;
        height: auto;
    }
}
.post {
    text-align: left;
    a {
        @include texto-blog(1rem, #040924, underline);
    }
.post-pie {
        @include texto-blog(0.75rem, #1e1e1e, none);
        font-style: italic;
    }
.post-cuerpo {
        @include texto-blog(1rem, $fondo-navbar, none);
    }
}
.blog-nav {
    background-color: rgba(30, 30, 30, 0.4);
}